@{
    ViewData["Title"] = "Experiencia Laboral";
}

<div class="row row-height" style="margin-bottom: 13px;">
    <div class="col-md-12">
        <div class="card-group">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-subtitle mb-2" style="font-size: 20px; color: #198754"><i class="fa fa-wrench"></i>   Experiencia Laboral</h1>
                    <hr style="margin-bottom:5px;" />

                    <div class="row row-height">
                        <div class="col-md-4">
                            <div class="card-group">
                                <div class="card">
                                    <div class="card-body">

                                        <h5 class="card-subtitle mb-2" style="font-size: 15px; color: #198754;"><i class="fa fa-wrench"></i>   Tecnologías</h5>
                                        <hr style="margin:0;" />
                                        <p style="margin:0;"><small style="font-weight: bold;">* ASP.NET Core</small><small></small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;">* ASP.NET Blazor</small><small></small></p>
                                        <hr style="margin-bottom:14px;" />
                                        <h5 class="card-subtitle mb-2" style="font-size: 15px; color: #198754;"><i class="fa fa-wrench"></i>   Lenguajes</h5>
                                        <hr style="margin:0;" />
                                        <p style="margin:0;"><small style="font-weight: bold;">* C#</small><small></small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;">* JavaScript</small><small></small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;">* JQuery</small><small></small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;">* HTML</small><small></small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;">* Css</small><small></small></p>
                                        <hr style="margin-bottom:14px;" />
                                        <h5 class="card-subtitle mb-2" style="font-size: 15px; color: #198754;"><i class="fa fa-wrench"></i>   Herramientas</h5>
                                        <hr style="margin:0;" />
                                        <p style="margin:0;"><small style="font-weight: bold;">* Visual Studio</small><small></small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;">* Swagger</small><small></small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;">* Git</small><small></small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;">* Postman</small><small></small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card-group">
                                <div class="card">
                                    <div class="card-body">

                                        <h5 class="card-subtitle mb-2" style="font-size: 15px; color: #198754;"><i class="fa fa-wrench"></i>   Periodo: diciembre de 2021 – diciembre de 2022</h5>
                                        <hr style="margin:0;" />
                                        <p style="margin:0;"><small style="font-weight: bold;">* Empresa: </small><small>CRC de México</small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;">* Cargo ocupado: </small><small>Desarrollador Full Stack</small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;">* Descripción del proyecto: </small><small>Creación de una aplicación web de ASP.NET Core para gestionar tu agenda de visitas.</small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;">* Tareas realizadas: </small></p>

                                        <p style="margin:0;">
                                            <small style="font-weight: bold;">- 1: </small><small>
                                                Creación de recursos de tipo (post, put, get, delete, patch,
                                                etc.) para mostrar, guardar, actualizar, eliminar y consultar
                                                la información del sistema en cada módulo y submódulo.
                                            </small>
                                        </p>

                                        <p style="margin:0;">
                                            <small style="font-weight: bold;">- 2: </small><small>
                                                Consumo de recursos de tipo (post, put, get, delete, patch,
                                                etc.) para mostrar, guardar, actualizar, eliminar y consultar
                                                la información del sistema en cada módulo y submódulo.
                                            </small>
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row row-height">
                        <div class="col-md-4">
                            <div class="card-group">
                                <div class="card">
                                    <div class="card-body">

                                        <h5 class="card-subtitle mb-2" style="font-size: 15px; color: #198754;"><i class="fa fa-wrench"></i>   Tecnologías</h5>
                                        <hr style="margin:0;" />
                                        <p style="margin:0;"><small style="font-weight: bold;">* Angular</small><small></small></p>
                                        <hr style="margin-bottom:14px;" />
                                        <h5 class="card-subtitle mb-2" style="font-size: 15px; color: #198754;"><i class="fa fa-wrench"></i>   Lenguajes</h5>
                                        <hr style="margin:0;" />
                                        <p style="margin:0;"><small style="font-weight: bold;">* TypeScript</small><small></small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;">* HTML</small><small></small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;">* Css</small><small></small></p>
                                        <hr style="margin-bottom:14px;" />
                                        <h5 class="card-subtitle mb-2" style="font-size: 15px; color: #198754;"><i class="fa fa-wrench"></i>   Herramientas</h5>
                                        <hr style="margin:0;" />
                                        <p style="margin:0;"><small style="font-weight: bold;">* Visual Studio Code</small><small></small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;">* Node.js</small><small></small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;">* Git</small><small></small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;">* Postman</small><small></small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card-group">
                                <div class="card">
                                    <div class="card-body">

                                        <h5 class="card-subtitle mb-2" style="font-size: 15px; color: #198754;"><i class="fa fa-wrench"></i>   Periodo: agosto de 2021 – noviembre de 2021</h5>
                                        <hr style="margin:0;" />
                                        <p style="margin:0;"><small style="font-weight: bold;">* Empresa: </small><small>Kernel Technologies Group</small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;">* Cargo ocupado: </small><small>Desarrollador FrontEnd</small></p>
                                        <p style="margin:0;">
                                            <small style="font-weight: bold;">* Descripción del proyecto: </small><small>
                                                Desarrollo de una aplicación web en Angular del servicio de
                                                desarrollo tecnológico para la creación de un núcleo
                                                aplicativo que contenga el padrón de sujetos regulados por
                                                la ley federal de protección de datos personales en posesión
                                                de los particulares del Inai.
                                            </small>
                                        </p>
                                        <p style="margin:0;"><small style="font-weight: bold;">* Tareas realizadas: </small></p>

                                        <p style="margin:0;">
                                            <small style="font-weight: bold;">- 1: </small><small>
                                                Consumo de servicios (post, put, get, delete, patch, etc.)
                                                para mostrar guardar y consultar la información del
                                                aplicativo en cada módulo y submódulo.
                                            </small>
                                        </p>

                                        <p style="margin:0;">
                                            <small style="font-weight: bold;">- 2: </small><small>
                                                Diseño e implementación de componentes de los módulos y
                                                submódulos dentro de la aplicación web.
                                            </small>
                                        </p>

                                        <p style="margin:0;">
                                            <small style="font-weight: bold;">- 3: </small><small>
                                                Integración e instalación de framework dentro de la
                                                arquitectura del proyecto como (Bootstrap, Material UI, NG-ZORRO, PrimeNG entre otros).
                                            </small>
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row row-height">
                        <div class="col-md-4">
                            <div class="card-group">
                                <div class="card">
                                    <div class="card-body">

                                        <h5 class="card-subtitle mb-2" style="font-size: 15px; color: #198754;"><i class="fa fa-wrench"></i>   Tecnologías</h5>
                                        <hr style="margin:0;" />
                                        <p style="margin:0;"><small style="font-weight: bold;">* Ionic</small><small></small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;">* Cordova</small><small></small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;">* Angular</small><small></small></p>
                                        <hr style="margin-bottom:14px;" />
                                        <h5 class="card-subtitle mb-2" style="font-size: 15px; color: #198754;"><i class="fa fa-wrench"></i>   Lenguajes</h5>
                                        <hr style="margin:0;" />
                                        <p style="margin:0;"><small style="font-weight: bold;">* TypeScript</small><small></small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;">* HTML</small><small></small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;">* Css</small><small></small></p>
                                        <hr style="margin-bottom:14px;" />
                                        <h5 class="card-subtitle mb-2" style="font-size: 15px; color: #198754;"><i class="fa fa-wrench"></i>   Herramientas</h5>
                                        <hr style="margin:0;" />
                                        <p style="margin:0;"><small style="font-weight: bold;">* Visual Studio Code</small><small></small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;">* Node.js</small><small></small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;">* Git</small><small></small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;">* Postman</small><small></small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card-group">
                                <div class="card">
                                    <div class="card-body">

                                        <h5 class="card-subtitle mb-2" style="font-size: 15px; color: #198754;"><i class="fa fa-wrench"></i>   Periodo: febrero de 2021 – julio de 2021</h5>
                                        <hr style="margin:0;" />
                                        <p style="margin:0;"><small style="font-weight: bold;">* Empresa: </small><small>Kernel Technologies Group</small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;">* Cargo ocupado: </small><small>Desarrollador FrontEnd</small></p>
                                        <p style="margin:0;">
                                            <small style="font-weight: bold;">* Descripción del proyecto: </small><small>
                                                Desarrollo de una aplicación web y móvil en Angular y Ionic
                                                para los sistemas operativos Android y iOS para recabar,
                                                almacenar y generar diversos indicadores del proceso
                                                electoral al Gobierno del Estado de Chihuahua.
                                            </small>
                                        </p>
                                        <p style="margin:0;"><small style="font-weight: bold;">* Tareas realizadas: </small></p>

                                        <p style="margin:0;">
                                            <small style="font-weight: bold;">- 1: </small><small>
                                                Creación de módulos y submódulos para la aplicación web y
                                                la aplicación móvil.
                                            </small>
                                        </p>

                                        <p style="margin:0;">
                                            <small style="font-weight: bold;">- 2: </small><small>
                                                Diseño e implementación de formularios y validaciones para
                                                el guardado y consulta de información.
                                            </small>
                                        </p>

                                        <p style="margin:0;">
                                            <small style="font-weight: bold;">- 3: </small><small>
                                                Se consumieron servicios de los diferentes módulos y
                                                submódulos de los aplicativos.
                                            </small>
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row row-height">
                        <div class="col-md-4">
                            <div class="card-group">
                                <div class="card">
                                    <div class="card-body">

                                        <h5 class="card-subtitle mb-2" style="font-size: 15px; color: #198754;"><i class="fa fa-wrench"></i>   Tecnologías</h5>
                                        <hr style="margin:0;" />
                                        <p style="margin:0;"><small style="font-weight: bold;">* ASP.NET CORE</small><small></small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;">* Entity Framework</small><small></small></p>
                                        <hr style="margin-bottom:14px;" />
                                        <h5 class="card-subtitle mb-2" style="font-size: 15px; color: #198754;"><i class="fa fa-wrench"></i>   Lenguajes</h5>
                                        <hr style="margin:0;" />
                                        <p style="margin:0;"><small style="font-weight: bold;">* C#</small><small></small></p>
                                        <hr style="margin-bottom:14px;" />
                                        <h5 class="card-subtitle mb-2" style="font-size: 15px; color: #198754;"><i class="fa fa-wrench"></i>   Herramientas</h5>
                                        <hr style="margin:0;" />
                                        <p style="margin:0;"><small style="font-weight: bold;">* Swagger</small><small></small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;">* Visual Studio</small><small></small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;">* Git</small><small></small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;">* Postman</small><small></small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;">* SQL Server Management Studio</small><small></small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card-group">
                                <div class="card">
                                    <div class="card-body">

                                        <h5 class="card-subtitle mb-2" style="font-size: 15px; color: #198754;"><i class="fa fa-wrench"></i>   Periodo: noviembre de 2020 – enero de 2021</h5>
                                        <hr style="margin:0;" />
                                        <p style="margin:0;"><small style="font-weight: bold;">* Empresa: </small><small>Kernel Technologies Group</small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;">* Cargo ocupado: </small><small>Desarrollador BackEnd</small></p>
                                        <p style="margin:0;">
                                            <small style="font-weight: bold;">* Descripción del proyecto: </small><small>
                                                Mantenimiento a una aplicación ya existente, con la finalidad
                                                de incorporar diferentes módulos con enfoque a desarrollo
                                                organizacional, y administración de riesgos psicosociales
                                                previstos en la NOM035.
                                            </small>
                                        </p>
                                        <p style="margin:0;"><small style="font-weight: bold;">* Tareas realizadas: </small></p>

                                        <p style="margin:0;">
                                            <small style="font-weight: bold;">- 1: </small><small>
                                                Se mejoro la redacción de los mensajes de alertas para el de
                                                vacaciones.
                                            </small>
                                        </p>

                                        <p style="margin:0;">
                                            <small style="font-weight: bold;">- 2: </small><small>
                                                Se agregó caracteres a la descripción en el módulo de
                                                colaboradores.
                                            </small>
                                        </p>

                                        <p style="margin:0;">
                                            <small style="font-weight: bold;">- 3: </small><small>
                                                Se creo módulo y submódulos para evaluación desempeño.
                                            </small>
                                        </p>

                                        <p style="margin:0;">
                                            <small style="font-weight: bold;">- 4: </small><small>
                                                Creación de diversos formularios.
                                            </small>
                                        </p>

                                        <p style="margin:0;">
                                            <small style="font-weight: bold;">- 5: </small><small>
                                                Creación y consumo de servicios a nivel de submódulos.
                                            </small>
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row row-height">
                        <div class="col-md-4">
                            <div class="card-group">
                                <div class="card">
                                    <div class="card-body">

                                        <h5 class="card-subtitle mb-2" style="font-size: 15px; color: #198754;"><i class="fa fa-wrench"></i>   Tecnologías</h5>
                                        <hr style="margin:0;" />
                                        <p style="margin:0;"><small style="font-weight: bold;">* Ionic</small><small></small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;">* Cordova</small><small></small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;">* Angular</small><small></small></p>
                                        <hr style="margin-bottom:14px;" />
                                        <h5 class="card-subtitle mb-2" style="font-size: 15px; color: #198754;"><i class="fa fa-wrench"></i>   Lenguajes</h5>
                                        <hr style="margin:0;" />
                                        <p style="margin:0;"><small style="font-weight: bold;">* TypeScript</small><small></small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;">* HTML</small><small></small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;">* Css</small><small></small></p>
                                        <hr style="margin-bottom:14px;" />
                                        <h5 class="card-subtitle mb-2" style="font-size: 15px; color: #198754;"><i class="fa fa-wrench"></i>   Herramientas</h5>
                                        <hr style="margin:0;" />
                                        <p style="margin:0;"><small style="font-weight: bold;">* Visual Studio Code</small><small></small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;">* Node.js</small><small></small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;">* Git</small><small></small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;">* Postman</small><small></small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;">* Swagger</small><small></small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card-group">
                                <div class="card">
                                    <div class="card-body">

                                        <h5 class="card-subtitle mb-2" style="font-size: 15px; color: #198754;"><i class="fa fa-wrench"></i>   Periodo: julio de 2020 – octubre de 2020</h5>
                                        <hr style="margin:0;" />
                                        <p style="margin:0;"><small style="font-weight: bold;">* Empresa: </small><small>Kernel Technologies Group</small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;">* Cargo ocupado: </small><small>Desarrollador FrontEnd</small></p>
                                        <p style="margin:0;">
                                            <small style="font-weight: bold;">* Descripción del proyecto: </small><small>
                                                Desarrollo de una aplicación web y móvil en Angular y Ionic
                                                para la Secretaría de Bienestar del control y la administración
                                                de los apoyos sociales a cargo de la Secretaría.
                                            </small>
                                        </p>
                                        <p style="margin:0;"><small style="font-weight: bold;">* Tareas realizadas: </small></p>

                                        <p style="margin:0;">
                                            <small style="font-weight: bold;">- 1: </small><small>
                                                Consumo de servicios (post, put, get, etc.) para mostrar
                                                guardar y consultar la información del aplicativo en cada
                                                módulo y submódulo.
                                            </small>
                                        </p>

                                        <p style="margin:0;">
                                            <small style="font-weight: bold;">- 2: </small><small>
                                                Diseño e implementación de componentes de los módulos y
                                                submódulos dentro de la aplicación web.
                                            </small>
                                        </p>

                                        <p style="margin:0;">
                                            <small style="font-weight: bold;">- 3: </small><small>
                                                integración e instalación de framework dentro de la
                                                arquitectura del proyecto como (Bootstrap, Material UI, NG-ZORRO, PrimeNG entre otros).
                                            </small>
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row row-height">
                        <div class="col-md-4">
                            <div class="card-group">
                                <div class="card">
                                    <div class="card-body">

                                        <h5 class="card-subtitle mb-2" style="font-size: 15px; color: #198754;"><i class="fa fa-wrench"></i>   Tecnologías</h5>
                                        <hr style="margin:0;" />
                                        <p style="margin:0;"><small style="font-weight: bold;">* JPA</small><small></small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;">* Hibernate</small><small></small></p>
                                        <hr style="margin-bottom:14px;" />
                                        <h5 class="card-subtitle mb-2" style="font-size: 15px; color: #198754;"><i class="fa fa-wrench"></i>   Lenguajes</h5>
                                        <hr style="margin:0;" />
                                        <p style="margin:0;"><small style="font-weight: bold;">* Java</small><small></small></p>
                                        <hr style="margin-bottom:14px;" />
                                        <h5 class="card-subtitle mb-2" style="font-size: 15px; color: #198754;"><i class="fa fa-wrench"></i>   Herramientas</h5>
                                        <hr style="margin:0;" />
                                        <p style="margin:0;"><small style="font-weight: bold;">* Eclipse</small><small></small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;">* Spring Boot</small><small></small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;">* Git</small><small></small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card-group">
                                <div class="card">
                                    <div class="card-body">

                                        <h5 class="card-subtitle mb-2" style="font-size: 15px; color: #198754;"><i class="fa fa-wrench"></i>   Periodo: enero de 2019 – junio de 2020</h5>
                                        <hr style="margin:0;" />
                                        <p style="margin:0;"><small style="font-weight: bold;">* Empresa: </small><small>Soluciones Inteligentes y Consultoría en Tecnologías de la Información, S.C.</small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;">* Cargo ocupado: </small><small>Desarrollador Full Stack Junior</small></p>
                                        <p style="margin:0;">
                                            <small style="font-weight: bold;">* Descripción del proyecto: </small><small>
                                                Participando en proyectos tales como Plataforma de
                                                Inversiones, Sistema de Cotizaciones y Financiamiento
                                                Automotriz y Créditos Empresariales y que tuvo como
                                                principales funciones el desarrollo, mantenimiento y
                                                actualización de páginas y sistemas web.
                                            </small>
                                        </p>
                                        <p style="margin:0;"><small style="font-weight: bold;">* Tareas realizadas: </small></p>

                                        <p style="margin:0;">
                                            <small style="font-weight: bold;">- 1: </small><small>
                                                Mantenimiento y mejoras de sistemas web.
                                            </small>
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>