@{
    ViewData["Title"] = "Conocimientos";
}

<div class="row row-height" style="margin-bottom: 13px;">
    <div class="col-md-12">
        <div class="card-group">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-subtitle mb-2" style="font-size: 20px; color: #198754"><i class="fa fa-wrench"></i>   Conocimientos</h1>
                    <hr style="margin-bottom:5px;" />

                    <div class="row row-height">
                        <div class="col-md-12">
                            <div class="card-group">
                                <div class="card">
                                    <div class="card-body">

                                        <h5 class="card-subtitle mb-2" style="font-size: 15px; color: #198754;"><i class="fa fa-wrench"></i>   HABILIDADES PROFESIONALES</h5>
                                        <hr style="margin:0;" />
                                        <p style="margin:0;"><small style="font-weight: bold;"></small><small>* Manejo de sistema de control de versiones (Git Hub)</small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;"></small><small>* Conocimiento de base de datos (SQLite, Compact, MySQL, SQL Server, Oracle, PostgreSQL)</small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;"></small><small>* Manejo del lenguaje de programación (Java)</small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;"></small><small>* Manejo del lenguaje de programación (Dart)</small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;"></small><small>* Conocimiento y manejo para diseñar, construir, documentar y utilizar servicios web RESTfull (Swagger)</small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;"></small><small>* Manejo del lenguaje de programación (C#)</small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;"></small><small>* Manejo del manejador de base de datos (Oracle)</small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;"></small><small>* Manejo del manejador de base de datos (PostgreSQL)</small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;"></small><small>* Conocimiento y manejo del framework (Angular)</small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;"></small><small>* Conocimiento y manejo de (Apache Cordova)</small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;"></small><small>* Conocimiento y manejo de (Flutter)</small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;"></small><small>* Conocimiento y manejo de (.net core)</small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;"></small><small>* Conocimiento y manejo de (ASP.NET Core)</small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;"></small><small>* Conocimiento del contenedor (Tomcat)</small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;"></small><small>* Manejo del manejador de base de datos (MySQL)</small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;"></small><small>* Manejo del manejador de base de datos (Microsoft SQL Server)</small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;"></small><small>* Conocimiento de (Microsoft Azure)</small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;"></small><small>* Manejo del lenguaje de programación (TypeScript)</small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;"></small><small>* Conocimiento y manejo del framework (Ionic)</small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;"></small><small>* Uso de metodologías agiles: (Scrum)</small></p>

                                        <hr style="margin-bottom:14px;" />
                                        <h5 class="card-subtitle mb-2" style="font-size: 15px; color: #198754;"><i class="fa fa-wrench"></i>   HABILIDADES TÉCNICAS</h5>
                                        <hr style="margin:0;" />

                                        <p style="margin:0;"><small style="font-weight: bold;"></small><small>* Manejo de (IDE Eclipse)</small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;"></small><small>* Manejo de (IDE NetBeans)</small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;"></small><small>* Manejo de (IDE Android Studio)</small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;"></small><small>* Conocimiento y manejo de (Enterprise Architect)</small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;"></small><small>* Conocimiento y manejo del sistema operativo (Windows)</small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;"></small><small>* Conocimiento y manejo del sistema operativo (Linux)</small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;"></small><small>* Conocimiento y manejo de (SQL Server Management Studio)</small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;"></small><small>* Conocimiento y manejo de (SQL Developer)</small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;"></small><small>* Reparación de computadoras (HP, DELL, LENOVO)</small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;"></small><small>* Instalación de sistemas operativos (Windows, Linux)</small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;"></small><small>* Manejo de (Visual Studio Community)</small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;"></small><small>* Manejo de (Visual Studio Code)</small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;"></small><small>* Manejo de (Photoshop)</small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;"></small><small>* Manejo de (lIlustrator)</small></p>
                                        <p style="margin:0;"><small style="font-weight: bold;"></small><small>* Manejo de (Filmora)</small></p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>