@{
    ViewData["Title"] = "Intereses";
}

<div class="row row-height" style="margin-bottom: 13px;">
    <div class="col-md-12">
        <div class="card-group">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-subtitle mb-2" style="font-size: 20px; color: #198754"><i class="fa fa-wrench"></i>   Intereses</h1>
                    <hr style="margin-bottom:5px;" />

                    <div class="row row-height">
                        <div class="col-md-12">
                            <div class="card-group">
                                <div class="card">
                                    <div class="card-body">

                                        <h5 class="card-subtitle mb-2" style="font-size: 15px; color: #198754;"><i class="fa fa-wrench"></i>   PRETENSIÓN ECONÓMICA</h5>
                                        <hr style="margin:0;" />
                                        <p style="margin:0;"><small style="font-weight: bold;">* Sueldo Mensual: </small><small>$40000 MIL LIBRES, NETOS</small></p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>